header {
    padding: 14px;
    margin: 0;
    background-color: dodgerblue;
    color: white;
}

#logo {
    display: inline-block;
}

header > div {
    display: inline-block;
    float: right;
    padding: 32px;
    word-spacing: 20px;
}

header > div > a {
    color: white;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 70%;
    margin: auto;
}

.login {
    display: inline-block;
}


.latest {
    display: inline-block;
}

.breaking-news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    width: 700px;
    height: 400px;
    align-content: space-between;
}


.news-pic {
    height: 130px;
    width: 220px;
}

.user-comments {
    border-top: 1px solid grey;
}

.profile-pic {
    padding: 6px 0px;
    height:100px;
    width: 100px;
}

footer {
    margin: 0;
    background-color: dodgerblue;
    padding: 1px;
    color: white;
    text-align: center;
}

