header {
    padding: 18px;
    margin: 0;
    background-color: dodgerblue;
    color: white;
}

#logo {
    display: inline-block;
}

header > div {
    display: inline-block;
    float: right;
    padding: 32px;
    word-spacing: 20px;
}

header > div > a {
    color: white;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 70%;
    margin: auto;
}

.box {
    display: inline-flex;
    flex-direction: column;
}

.news-pic {
    height: 200px;
    width: 300px;
}

.user-comments {
    border-top: 1px solid grey;
}

.profile-pic {
    padding: 6px 0px;
    height:100px;
    width: 100px;
}

footer {
    margin: 0;
    background-color: dodgerblue;
    padding: 1px;
    color: white;
    text-align: center;
}

